@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#container {
    width: 1024px;
    background: #404040;
    margin: 0 auto;

}

#container-interno {
    width: 100%;
    padding: 0 20px;
}

.header {
    width: 100%;
    height: 135px;
    background-color: #0D0D0E;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 10px;
    align-content: center;
    padding: 20px;

}

.item {
    color: #FFF;
    padding: 20px;
}

.fundo-branco {
    background-color: #FFF;
}

.pesquisar {
    width: 100%;
    padding: 5px;
}

.texto-menu {
    color: #FFF;
    text-decoration: none;
}

.navbar {
    width: 100%;
    background-color: #FFF;
    display: grid;
    grid-template-columns: repeat(7, auto);
    text-align: center;
    padding: 15px;
}

.texto-navbar {
    color: #100681;
    text-decoration: none;
}

.item-navbar {
    align-self: center;
}

.texto-principal {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    /* identical to box height */
    color: #E5E5E5;
    text-align: center;
    margin: 40px 0px;
}

.banner {
    width: 100%;
}

.banner-img {
    width: 100%;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
}

.categorias-img {
    width: 100%;
    height: 272px;
}

.promocoes {
    margin-top: 40px;
}

.promocoes-titulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    text-align: center;
}

.promocoes figure {
    background-color: #FFF;
    text-align: center;
    padding: 15px;

}

.promocoes-img{
    width: 158px;
    height: 162px;

}

/* altera o tamanho padrão de cada item do carosel  */

.carousel__slide {
    /* define que largura máxima de cada item do carousel vai ser de 40% o padrão é 60% */
    max-width: var(--carousel-slide-width, 40%);

}

.banner2{
    margin-top: 40px;
}

.banner2-img{
    width: 100%;
}

.rodape{
    background-color: #000;
    display: grid;
    /* exemplo acima e abaixo crio 4 coluna tamanho igual  */
    grid-template-columns: repeat(4,1fr);
}

.rodape-item{
    padding: 20px;
    text-align: left;
    
}




.rodape-titulo{
    color: #fff ;
    font-size: 20px;
    text-transform: uppercase;
    /* text-trans uppercase deixa tudo em maisculo */

}



.rodape-texto {
    color: #c9c9c9;
    font-size: 13px;
    /* tamanho da fonte */
    text-decoration: none;
    /* tira o sublinhado do link */
    font-weight: normal;  
    /* tira o negrito do texto */

}

/* .rodape-texto p{
    padding-left: 5px;
} */


/* altera a cor dos marcadores do carosel : as bolinhas de transição de itens */
.carousel__dots {
    color: #fff;
    /* margin-top: -70px !important;  essa ação ele faz com que o marcador subi um pouco acima*/
}

.carousel__button{
    color: white;
    /* cor do circulo onde está a seta de passar para o lado */
    background-color: #3534349d;
}
/* consultar documentação do site facyapps */
/* deixa a espessura da seta mais grossa */
.carousel {
    --carousel-button-svg-stroke-width: 2.5;
}



/* final da versão desktop finalizado */

/* Inicio da versão Mobile */
/* media Query para versão tablet e celular */
@media only screen and (max-width: 768px) {

    #container{
        width: 100%;
    }

    .header{
        /* grid-template-columns: 1fr; para ficar fração de uma coluna em baixo da outra */
        grid-template-columns: 1fr; 
        /* height: auto;  para ficar um embaixo do outro */
        height: auto; 
        text-align: center;
       
    }

    #pesquisar{
        width: 100%;
        padding: 15px;

    }

    .item {
        padding: 5px 0px;
    }

    .navbar{
        /* meu menu fica um item embaixo do outro */
        grid-template-columns: 1fr;
    }

    .item-navbar{
        padding: 10px;
    }

    .categorias{
        grid-template-columns: 1fr;
    }

    .rodape{
        /* 1 coluna apenas */
        grid-template-columns: 1fr;

    }

    .carousel__slide {
        /* lembrar sempre de verifcar % do tam. maximo e assim posso alterar o width debaixo */
        max-width: var(--carousel-slide-width, 80%);
        width: 70%;
    }

    .promocoes-img{
        /* quero dizer que minha img vai ocupar na versão mobile toda a tela */
        width: 100%;
    }

    .promocoes-figure{
        margin: 0;
        /* altura do tamanho da cx  */
        height: 300px;
    }
        
    .carrinho-texto{
        /* tiro a exibição do item ele vai sumir */
        display: none;
    }

    /* ----------------------------- */
    /* CRIAÇÃO DO MENU HAMBURGUER    */
    /* ----------------------------- */

    /* vou no html dou espaço e crio mais um class no caso oculta-navbar em todos que eu quero esconder */
    .oculta-navbar{
        /* sumir os itens de exibição */
        display: none;
    }


    



}



/* final da versão Mobile */